@using System.Text
@using PetHelp.Shared
@using PetHelp.Shared.DTO
@using PetHelp.Shared.DTO.Requests
@using PetHelp.Shared.Enums
@using System.Linq.Expressions
@using static PetHelp.Shared.SzczepienieDetale

@inject HttpClient KlientHTTP

<PageTitle>Kalendarz</PageTitle>

<div class="calendar">
    <div class="month-section">
        <div class="arrow-container">
            <button class="btn btn-outline-primary btn-arrow" @onclick="()=>OnClick_ChangeCalendarPage(-1)" >
                <span>&lt;=</span>
            </button>
        </div>        
        <div class="month-container">
            @if(DetailsOn)
            {
                <div>@SelectedDay.ToShortDateString()</div>
            }
            else
            {
                <div>@(MiesiaceDict[SelectedDay.Month]) </div>
                <div class="year">[@SelectedDay.Year]</div>
            }
        </div>
        <div class="arrow-container">
            <button class="btn btn-outline-primary btn-arrow" @onclick="()=>OnClick_ChangeCalendarPage(1)">
                <span>=&gt;</span>
            </button>
        </div>        
    </div>
    <table hidden="@DetailsOn">
        <thead>
            <tr>
                <th>Pn</th>
                <th>Wt</th>
                <th>Śr</th>
                <th>Cz</th>
                <th>Pt</th>
                <th>So</th>
                <th class="niedziela" >Nd</th>
            </tr>
        </thead>
        <tbody>
            @for (int d = 1; d <= MonthEnd.Day; )
            {
                <tr>
                    @for (int i = 1; i <= 6; i++)
                    {
                        DateTime ? _day = null;
                        @if(d <= this.MonthEnd.Day)
                        {
                            _day = new DateTime(MonthEnd.Year, MonthEnd.Month, d);
                        }

                        @if (_day.HasValue && _day.Value.DayOfWeek == (DayOfWeek)i)
                        {
                            string szczepienieCssClass = GetSzczepienieCSS(_day);

                            <td class="@(_day == DateTime.Today?"dzis":String.Empty) day @szczepienieCssClass" @onclick="()=>OnClick_OpenDetails(_day.Value)">
                                <div>
                                    @_day.Value.Day
                                </div>
                                <div style="margin-bottom:3px; font-size:8px;">
                                   @(PrintCircles(this.Posilki.Where(x=>x.Date.Year == _day.Value.Year && x.Date.Day == _day.Value.Day).ToList()))
                                </div>
                            </td>
                            d++;
                        }
                        else
                        {
                            <td class="day-other"> - </td>
                            continue;
                        }
                    }

                    @{
                        DateTime? _day_niedziela = null;
                    }
                    @if(d <= this.MonthEnd.Day)
                    {
                        _day_niedziela = new DateTime(MonthEnd.Year, MonthEnd.Month, d);
                    }

                    @if(_day_niedziela.HasValue && _day_niedziela.Value.DayOfWeek == DayOfWeek.Sunday)
                    {
                        string szczepienieCssClass = GetSzczepienieCSS(_day_niedziela);

                        <td class="@(_day_niedziela == DateTime.Today?"dzis":String.Empty) day niedziela @szczepienieCssClass" @onclick="()=>OnClick_OpenDetails(_day_niedziela.Value)">
                            <div>
                                @_day_niedziela.Value.Day
                            </div>
                            <div style="margin-bottom:3px; font-size:8px;">
                                @(PrintCircles(this.Posilki.Where(x => x.Date.Year == _day_niedziela.Value.Year && x.Date.Day == _day_niedziela.Value.Day).ToList()))
                            </div>
                        </td>
                        d++;
                    }
                    else
                    {
                        <td class="day-other"> - </td>
                    }
                </tr>

            }
        </tbody>
    </table>
    @if(DetailsOn)
    {
        <div class="details-container">
        @if(_CURRENT == KalendarzStates.Posilki)
        {
            <div class="details-content">
            @for(int index=1;index<=3;index++)
            {
                int mealType = index;
                    MealRecordDTO? istniejacyPosilek = this.Posilki.FirstOrDefault(x => MatchDay(x,index,SelectedDay));

                string SelectedStyle = "";

                if(istniejacyPosilek != null)
                {
                        if (istniejacyPosilek.isSelected == true)
                        {
                            SelectedStyle = "background-color:red;";
                        }

                        <div class="meal-container" @onclick="()=>Changecolor(istniejacyPosilek)" style="@SelectedStyle">
                            <div class="index">@index</div>
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Nazwa</td>
                                        <td><input type="text" placeholder="Nazwa posiłku" @bind="istniejacyPosilek.Name" /></td>
                                    </tr>
                                    <tr>
                                        <td>Gramatura</td>
                                            <td><input type="number" placeholder="Gramatura w gramach" @bind="istniejacyPosilek.Weight" /></td>
                                    </tr>
                                    <tr>
                                        <td>Godzina</td>
                                        <td><input type="time" placeholder="Godzina podania" value="@istniejacyPosilek.Date.ToShortTimeString()"  @onchange="(args) => HandleDateConversion(args, istniejacyPosilek)" style="height: 22px;" /></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                }
                else
                {
                        var _nowyPosilek = this.NowePosilki.FirstOrDefault(x => MatchDay(x, mealType, this.SelectedDay));

                        if (_nowyPosilek != null && _nowyPosilek.isSelected == true)
                        {
                            SelectedStyle = "background-color:red;";
                        }

                        <div class="meal-container" @onclick="()=>Changecolor(_nowyPosilek)" style="@SelectedStyle">
                        <div class="index">@mealType</div>
                        @if(_nowyPosilek == null)
                        {
                            <div style="display: flex;width:100%;height:100%;">
                                <input class="btn btn-outline-dark" style="margin-top:auto; margin-bottom:auto; margin-left:auto; margin-right:auto;" hidden="@(_nowyPosilek != null)" type="button" value="dodaj" @onclick="()=>NewMeal(this.SelectedDay,mealType)" />
                            </div>
                        }
                        @if(_nowyPosilek != null)
                        {
                            <table>
                                <tbody>
                                    <tr>
                                        <td>Nazwa</td>
                                        <td><input type="text" placeholder="Nazwa posiłku" @bind="_nowyPosilek.Name" /></td>
                                    </tr>
                                    <tr>
                                        <td>Gramatura</td>
                                        <td><input type="number" placeholder="Gramatura w gramach" @bind="_nowyPosilek.Weight" /></td>
                                    </tr>
                                    <tr>
                                        <td>Godzina</td>
                                        <td>
                                                <input type="time" placeholder="Godzina podania" value="@_nowyPosilek.Date.ToShortTimeString()" @onchange="(args) => HandleDateConversion(args, _nowyPosilek)" style="height: 22px;" />
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        }
                    </div>
                }
            }
        </div>
        }
        @if(_CURRENT == KalendarzStates.Szczepienia)
        {
            <div class="details-content">
                @{
                    IEnumerable<SzczepienieDTO> todaySzczepienia = ListaSzczepien.Where(x => MatchDay(x, SelectedDay));
                }
                @if(todaySzczepienia.Any())
                {
                    @if(przenoszoneSzczepienie == null)
                    {
                        <table class="table table-bordered" style="margin:0; border-color:#0d6efd;">
                            <tbody>
                            @foreach (var item in todaySzczepienia)
                            {
                                <tr>
                                    <td>
                                        @{
                                            SzczepienieInfo? _sz = SzczepienieDetale.Szczepienia().FirstOrDefault(x => x.ID == item.SzczepienieType);
                                        }
                                        <p>Szczepienie: <span style="font-weight:bold; font-size:large;">@(_sz==null?"~błąd~":_sz.Name)</span></p>
                                        @if(item.CzyPrzeniesiona && item.DataInnyTermin.HasValue && item.Data == SelectedDay)
                                        {
                                            <p style="margin:0;">Przeniesione na dzień <span style="font-weight:bold; font-size:large;">@item.DataInnyTermin.Value.ToShortDateString()</span></p>
                                        }
                                        @if(item.CzyPrzeniesiona && item.DataInnyTermin.HasValue && item.DataInnyTermin == SelectedDay)
                                        {
                                            <p style="margin:0;">Przeniesione z dnia <span style="font-weight:bold; font-size:large;">@item.Data.ToShortDateString()</span></p>
                                        }
                                        @if(item.CzyOdbyte)
                                        {
                                             <p><span style="font-weight:bold; font-size:large;">Odbyte.</span></p>
                                        }
                                        @if(item.CzyOdbyte == false)
                                        {
                                            <div class="input-group" style="justify-content:space-evenly;">
                                                <input type="button" class="btn btn-primary" value="Odbyte" disabled="@item.CzyOdbyte" />
                                                <input type="button" class="btn btn-primary" value="Przenies" disabled="@(item.CzyPrzeniesiona || item.CzyOdbyte)"  @onclick="@(e=> PrzesunTeminSzczepienia(e, item))" />
                                            </div>
                                        }
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>
                    }
                    else
                    {
                        <div style="display:flex;flex-direction:column;height:100%;justify-content: space-between;">
                            <h4>Przenoszenie Szczepienia</h4>
                            <div>Początkowa/Orginalna data szczepienia  to: @(przenoszoneSzczepienie.Data.ToShortDateString())</div>
                            <div>Wybierz na jaki dzień chcesz przełożyć szczepienie: (maksymalny okres przesunięcia to 7 dni) <input type="date" @bind="nowyTemin" /> </div>
                            <div class="input-group" style="justify-content:space-evenly;">
                                <input class="btn btn-success" type="button" value="zatwierdź" @onclick="ZmienTerminSzczepienia"/>
                                <input class="btn btn-warning" type="button" value="anuluj" @onclick="AnulujPrzenoszenieSzczepienia"/>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p style="width:100%; text-align:center; font-size:large;">Brak zaplanowanych szczepień.</p>
                }
            </div>
        }

        <div class="details-buttons">
            <div style="width: 100%;"></div>
            @if(_CURRENT == KalendarzStates.Posilki)
            {
                <button class="btn btn-outline-success" @onclick="Zapisz">Zapisz</button>
                <button class="btn btn-outline-danger" @onclick=Wyczysc>Wyczyść</button>
                <button class="btn btn-outline-dark" @onclick=@(e => ChangeState(e, KalendarzStates.Szczepienia))>Szczepienia</button>
            }
            else if(_CURRENT == KalendarzStates.Szczepienia)
            {
                <button class="btn btn-outline-dark" @onclick=@(e => ChangeState(e, KalendarzStates.Posilki))>Posilki</button>
            }
            <button class="btn btn-outline-primary" @onclick="()=>DetailsOn = false">Wróć</button>
        </div>
    </div>
    }
</div>

@code{
    [Parameter] public int PetID { get; set; }
    public List<SzczepienieDTO> ListaSzczepien { get; set; } = new();
    void ChangeState(MouseEventArgs e, KalendarzStates state)
    {
        _CURRENT = state;
        AnulujPrzenoszenieSzczepienia();
    }
    enum KalendarzStates{
        Posilki,
        Szczepienia
    }
    KalendarzStates _CURRENT { get; set; } = KalendarzStates.Posilki;

    List<MealRecordDTO> NowePosilki = new();
    List<MealRecordDTO> Posilki = new();

    bool DetailsOn = false;
    DateTime SelectedDay { get; set; } = default;
    DateTime MonthStart { get; set; }
    DateTime MonthEnd { get; set; }
    const string FULLCIRCLE = "⬤";
    const string EMPTYCIRCLE = "〇";

    SzczepienieDTO? przenoszoneSzczepienie = null;
    DateTime? nowyTemin = null;


    

    private async Task ZmienTerminSzczepienia(){

        if(nowyTemin.HasValue && przenoszoneSzczepienie != null)
        {
            ChangeDateRequestDTO body = new() {
                NowyTermin = nowyTemin.Value,
                ZwierzId = PetID,
                SzczepienieId = przenoszoneSzczepienie.Id,
                SzczepienieType = przenoszoneSzczepienie.SzczepienieType
            };

            var request = await KlientHTTP.PostAsJsonAsync("Szczepienie/Move", body);
            if(request.IsSuccessStatusCode)
            {
                // aktualizacja aktualnie przechowywanych danych szczepienia o pobrane dane w odpowiedzi
                SzczepienieDTO item = await request.Content.ReadFromJsonAsync<SzczepienieDTO>()??new();

                //podmianka na zaktualizowane
                SzczepienieDTO? match = this.ListaSzczepien.FirstOrDefault(x => x.Data == item.Data && x.SzczepienieType == item.SzczepienieType);
                if(match != null)
                {
                    int matchIndex = this.ListaSzczepien.IndexOf(match);
                    this.ListaSzczepien[matchIndex] = item;
                }
            }

            AnulujPrzenoszenieSzczepienia();
        }
        else
        {
            Console.WriteLine("Wystąpił błąd, termin, lub obiekt szczepienia jest niepoprawy");
        }
    }

    private void PrzesunTeminSzczepienia(MouseEventArgs e, SzczepienieDTO item)
    {
        przenoszoneSzczepienie = item;
    }
    private void AnulujPrzenoszenieSzczepienia()
    {
        przenoszoneSzczepienie = null;
    }

    private string GetSzczepienieCSS(DateTime? day)
    {
        string szczepienieCssClass = string.Empty;
        IEnumerable<SzczepienieDTO> todaySzczepienia = ListaSzczepien.Where(x => MatchDay(x, day.Value));
        if(todaySzczepienia.Any()){
            if(todaySzczepienia.All(x=>x.CzyPrzeniesiona) && todaySzczepienia.Any(x=>x.DataInnyTermin != day))
            {
                szczepienieCssClass = "szczepienie-przelozone";
            }else if(todaySzczepienia.All(x=>x.CzyOdbyte))
            {
                szczepienieCssClass = "szczepienie-odbyte";
            }
            else if(todaySzczepienia.All(x=>x.CzyOdbyte == false))
            {
                szczepienieCssClass = "szczepienie-nieOdbyte";
            } 
            else
            {
                //nie wiem jak zastapic outline borderem 2 kolorowym np czerwono-szarym itp
                szczepienieCssClass = "szczepienie-nieOdbyte";
            }
        }
        return szczepienieCssClass;
    }
    protected override async Task OnParametersSetAsync()
    {
        this.Posilki = await GetMeals(PetID, DateTime.Now);
        RefreshSelectedDate(DateTime.Now);
    }

    public void SetListaSzczepien(List<SzczepienieDTO> _lista)
    {
        this.ListaSzczepien = _lista;
        StateHasChanged();
    }

    public bool MatchDay(MealRecordDTO x, int mealType, DateTime SelectedDay)
    {
        return x.Date.Day == SelectedDay.Day &&
               x.Date.Month == SelectedDay.Month &&
               x.Date.Year == SelectedDay.Year &&
               x.Type == mealType;
    }
    public bool MatchDay(SzczepienieDTO _x, DateTime _date)
    {
        bool regularDateCheck = false, otherDateCheck = false;

        regularDateCheck = (_x.Data.Year == _date.Year && _x.Data.Month == _date.Month && _x.Data.Day == _date.Day);

        if(_x.CzyPrzeniesiona && _x.DataInnyTermin.HasValue)
            otherDateCheck = (_x.DataInnyTermin.Value.Year == _date.Year && _x.DataInnyTermin.Value.Month == _date.Month && _x.DataInnyTermin.Value.Day == _date.Day);

        return regularDateCheck == true || otherDateCheck == true;
    }

    void HandleDateConversion(ChangeEventArgs args, MealRecordDTO _nowyPosilek)
    {
        _nowyPosilek.Date = default;
        if(args.Value != null)
        {
            if (TimeOnly.TryParse(args.Value.ToString(), out TimeOnly time)) 
            {
                _nowyPosilek.Date = new DateTime(SelectedDay.Year, SelectedDay.Month, SelectedDay.Day, time.Hour, time.Minute, time.Second);
            }
        }
    }
    void NewMeal(DateTime _day, int _type)
    {
        MealRecordDTO posilek = new(MealRecordDTO.States.Added)
        {
            Date = _day,
            PetId = this.PetID,
            Type = _type,
            isSelected = true
        };

        NowePosilki.Add(posilek);

        StateHasChanged();
    }
    public async Task Zapisz()
    {
        List<Task> _Tasks = new();
        if(this.NowePosilki.Any(x=>x.Date != default))
        {
            _Tasks.Add(Dodaj());
        }

        if(this.Posilki.Any(x=>x.CurrentState == MealRecordDTO.States.Updated))
        {
            _Tasks.Add(Aktualizuj());
        }
        if(!_Tasks.Any())
        {
            Console.WriteLine("Brak zmian do zapisania");
        }
        await Task.WhenAll(_Tasks.ToArray());
    }
    async Task Dodaj()
    {
        var body = NowePosilki.Where(x => x.Date != default).ToList();
        Console.WriteLine($"Dodawanie {body.Count} wposów do kalendarza");
        var request = await KlientHTTP.PostAsJsonAsync("Meal/AddRange", body);
        if(request.IsSuccessStatusCode)
        {
            var addedData = await request.Content.ReadFromJsonAsync<List<MealRecordDTO>>() ?? new();
            if(addedData.Any())
            {
                this.Posilki.AddRange(addedData);
                this.NowePosilki.Clear();
            }
        }
    }
    async Task Aktualizuj()
    {
        var body = this.Posilki.Where(x => x.CurrentState == MealRecordDTO.States.Updated).ToList();
        Console.WriteLine($"Aktualizowanie {body.Count} wposów do kalendarza");
        var request = await KlientHTTP.PostAsJsonAsync("Meal/UpdateRange", body);
        if(request.IsSuccessStatusCode)
        {
            body.ForEach(x => x.SetState(MealRecordDTO.States.None));
        }
    }
    public static Dictionary<int, string> MiesiaceDict = new()
    {
        {1,"Styczeń"},{2,"Luty"},{3,"Marzec"},{4,"Kwiecień"},
        {5,"Maj"},{6,"Czerwiec"},{7,"Lipiec"},{8,"Sierpień"},
        {9,"Wrzesień"},{10,"Październik"},{11,"Listopad"},{12,"Grudzień"}
    };
    void RefreshSelectedDate(DateTime _date)
    {
        this.SelectedDay = _date;
        this.MonthStart = new DateTime(SelectedDay.Year, SelectedDay.Month, 1);
        this.MonthEnd = new DateTime(SelectedDay.Year, SelectedDay.Month, DateTime.DaysInMonth(SelectedDay.Year, SelectedDay.Month));
        AnulujPrzenoszenieSzczepienia();
    }
    public async Task OnClick_ChangeCalendarPage(int _number)
    {
        DateTime newDate = this.DetailsOn?this.SelectedDay.AddDays(_number):this.SelectedDay.AddMonths(_number);

        if(this.SelectedDay.Year != newDate.Year || this.SelectedDay.Month != newDate.Month)
        {
            this.Posilki = await GetMeals(PetID,newDate);
        }

        RefreshSelectedDate(newDate);
        StateHasChanged();
    }
    void OnClick_OpenDetails(DateTime _day)
    {
        RefreshSelectedDate(_day);
        this.DetailsOn = true;
    }
    async Task<List<MealRecordDTO>> GetMeals(int _petId, DateTime _day)
    {
        var respond = await KlientHTTP.GetAsync($"Meal/{_day.Year}-{_day.Month}/{_petId}");
        if (respond.IsSuccessStatusCode)
        {
            var pobranePosilki = await respond.Content.ReadFromJsonAsync<List<MealRecordDTO>>() ?? new();
            Console.WriteLine($"załadowano {this.Posilki.Count} zarejestrowanych posiłków dla {MiesiaceDict[_day.Month]} {_day.Year}r.");
            return pobranePosilki;
        }

        Console.WriteLine($"Brak zarejestrowanych posiłków dla {MiesiaceDict[_day.Month]} {_day.Year}r.");
        return new();
    }
    string PrintCircles(List<MealRecordDTO> _posilki)
    {
        char xxx = Convert.ToChar(FULLCIRCLE);

        StringBuilder sb = new(String.Concat(EMPTYCIRCLE,EMPTYCIRCLE,EMPTYCIRCLE));

        _posilki.ForEach(x => { 
            sb[(int)x.Type - 1] = Convert.ToChar(FULLCIRCLE); 
        });

        return sb.ToString();
    }
    async Task Wyczysc()
    {
        List<MealRecordDTO> dowyczyszczenia = new();
        foreach(var x in NowePosilki)
        {
            if (x.isSelected == true)
                dowyczyszczenia.Add(x);
        }
        NowePosilki = NowePosilki.Except(dowyczyszczenia).ToList();

        //NowePosilki = NowePosilki.Except(NowePosilki.Where(x => x.isSelected)).ToList(); // [LINQ] alternatywne szybsze rozwiązanie ucz się piotruś <3
        List<MealRecordDTO> dowyczyszczenia2 = new();
        foreach (var x in Posilki)
        {
            if (x.isSelected == true)
                dowyczyszczenia2.Add(x);
        }
        var body = dowyczyszczenia2.Select(x => x.Id).ToList();
        await KlientHTTP.PostAsJsonAsync<List<int>>($"Meal/Wyczysc",body);
        Posilki = Posilki.Except(Posilki.Where(x => x.isSelected)).ToList();

    }
    void Changecolor(MealRecordDTO? pudelko)
    {
        if (pudelko == null) return; 

        if (pudelko.isSelected == true)
        {
            pudelko.isSelected = false;
        }
        else
        {
            pudelko.isSelected = true;
        }
    }
}