@using PetHelp.Shared
@using PetHelp.Shared.DTO
@using static PetHelp.Shared.SzczepienieDetale

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Karta szczepień
</button>
@if (zwierz != null && listaDostepnychszczepien.Any())
{
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-xl modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Karta Szczepień: @zwierz.Imie</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Data</th>
                                <th>Nazwa</th>
                                <th>Czy się odbyło</th>
                                <th>Czy drugi termin</th>
                                <th>Inny termin</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (SzczepienieDTO szczep in this.ListaSzczepien)
                            {
                                SzczepienieInfo? _sz = listaDostepnychszczepien.Where(x => x.ID == szczep.SzczepienieType).FirstOrDefault();
                            if(szczep.Id != 0)
                                {
                                    
                                <tr>
                                    <th>@szczep.Data.ToShortDateString()</th>
                                    <th>@(
                                        _sz == null ? "---" : _sz.Name
                                        )</th>
                                    <th>@szczep.CzyOdbyte</th>
                                    <th>@szczep.CzyPrzeniesiona</th>
                                    <th>@(
                                        szczep.DataInnyTermin == null ? "---" : szczep.DataInnyTermin.Value.ToShortDateString()
                                        )</th>
                                    </tr>
                                }
                                else
                                {
                                    
                                <tr>
                                    <th>@szczep.Data.ToShortDateString()</th>
                                    <th>@(_sz == null ? "---" : _sz.Name)</th>
                                    <th>@szczep.CzyOdbyte</th>
                                </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
}
@code{
    [Parameter] public ZwierzeDTO? zwierz { get; set; } = null;

    public List<SzczepienieInfo> listaDostepnychszczepien { get; set; } = new();
    public List<SzczepienieDTO> ListaSzczepien { get; set; } = new();

    public List<SzczepienieDTO> GetAllSzczepieniaWithFiveNextElements()
    {
        List<SzczepienieDTO> combinedSzczepieniaList = new();
        if(zwierz != null)
        {
            combinedSzczepieniaList.AddRange(zwierz.Lista_Szczepien);
            combinedSzczepieniaList.AddRange(ListaSzczepien);
        }
        return combinedSzczepieniaList;
    }
    protected override void OnInitialized()
    {
        listaDostepnychszczepien = SzczepienieDetale.Szczepienia();
    }

    protected override void OnParametersSet()
    {
        if (ListaSzczepien.Count != 0)
            return;

        if (zwierz == null || zwierz.Id == 0) return;
        List<SzczepienieDTO> przyszleSzczepienia = SzczepienieDetale.GetMergedSzczepieniaListWithFiveNext(5, zwierz.DataUrodzenia, zwierz.Lista_Szczepien);

        ListaSzczepien.AddRange(przyszleSzczepienia);
    }
}